<% for entry in entries %>
  <% if File.basename(entry) != 'description.ion' %>
    <tr>
      <% level ||= 0 %>
      <td class="filename" style="padding-left: <%= level * 18 %>px;">
        <% if File.directory?(entry) %>
          <span class="icon icon-folder"><%= h File.basename(entry) %></span>
        <% else %>
          <% filename = entry.gsub(Regexp.new("^#{Regexp.quote(@base_dir)}/"), '') %>
          <%= link_to h(File.basename(entry)),
                      {:action => 'download', :project_id => @project.identifier, :filename => filename},
                      :class => 'icon icon-file' %>
        <% end %>
      </td>
      <td class="comments">
        <% comment = nil
           begin
             lines = File.readlines(File.dirname(entry) + '/description.ion')
           rescue StandardError
             lines = []
           end
           for line in lines
             words = line.split(' ')
             if words[0] == File.basename(entry)
               comment = words[1..-1].join(' ')
             end
           end %>
        <%= h comment %>
      </td>
    </tr>
    <% if File.directory?(entry) %>
      <%= render :partial => 'list', :locals => {:entries => Dir.glob(entry + '/*'), :level => level + 1} %>
    <% end %>
  <% end %>
<% end %>
